/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 1000
*/ 

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 165px;
  font-family: 'Nunito', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}